<div class="row">
  <div class='col-md-8 my-3 offset-md-2'>
    <% if request.original_url != users_index_path %>
      <%= form_with model: ([list, list.tasks.build]) do |f| %>
        <div class="row form-group">
          <div class="control-label col-md-3">
            <%= f.label :title %>
          </div>
          <div class="col-md-9">
            <%= f.text_field :title, class: "form-control",
                             placeholder: "Title of task" %>
          </div>
        </div>

        <div class="row form-group">
          <div class="control-label col-sm-3">
            <%= f.label :content %>
          </div>
          <div class="col-md-9">
            <%= f.text_area :content, class: "form-control",
                             placeholder: "Content" %>
          </div>
        </div>

        <div class="row my-3">
          <div class="col-md-3">
            <%= f.submit 'Add task', class: "btn btn-success btn-block" %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="row my-3">
        <div class="col-md-3">
          <%= link_to 'Add task', list_path(list), class: "btn btn-success btn-block" %>
        </div>
      </div>
    <% end %>

    <div align="center" class='row'>
      <div class='col-md-8 offset-md-2'>
      [ <%= link_to "Cancel request and return to list listing",
                    lists_path %> ]
      </div>
    </div>
  </div>
</div>
