<div class="card col" style="margin-bottom: 20px;">
  <div class="card-body">
    <h2 class="card-title my-3">
      <%= link_to list.title, list_path(list) %>
    </h2>
    <% if list.tasks.any? %>
      <%= render list.tasks %>
    <% end %>
    <%= render partial: 'tasks/form', locals: {list: list} %>
  </div>
  <div class="card-footer row justify-content-center list-actions"> 
    <div class="col-md-auto">
      <%= link_to "Edit this list", edit_list_path(list),
                  class: "btn btn-outline-primary btn-sm" %>
    </div>
    <div class="col-md-auto">
      <%= link_to "Delete this list", list_path(list), method: :delete, data:
                  { confirm: "Are you sure you want to delete the list? " },
                  class: "btn btn-outline-danger btn-sm" %>
    </div>
  </div>
</div>
